.services {
  $border-width: 2px;

  .service-block {
    @include row-center(space-between);
    padding: 64px 0;

    @media all {
      @include mq-max("xxl") {
        padding: 48px 0;
      }

      @include mq-max("lg") {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }

    &__image {
      display: none;

      @include mq-max("lg") {
        display: block;
        width: min(100%, 520px);
        object-fit: cover;
        aspect-ratio: 2 / 1;
      }
    }

    &__title {
      width: 50%;
      flex-shrink: 0;
      margin-inline-end: 12px;

      @include mq-max("lg") {
        width: auto;
      }
    }

    &__description {
      margin-inline-end: 164px;

      @include mq-max("xxl") {
        margin-inline-end: 64px;
      }

      @include mq-max("xl") {
        margin-inline-end: 24px;
      }
    }

    &__link {
      flex-shrink: 0;

      @include mq-max("lg") {
        translate: -8px 0;
      }
    }

    &__title,
    &__description,
    &__link {
      @include mq-motion-allow {
        opacity: 0;
      }
    }

    &.animate {
      @include mq-motion-allow {
        .service-block__title,
        .service-block__description,
        .service-block__link {
          opacity: 1;
          transition: 1s ease 0.1s;

          @include mq-max("md") {
            transition: 1s ease 0.3s;
          }
        }

        .service-block__description {
          transition-delay: 0.2s;

          @include mq-max("md") {
            transition-delay: 0.4s;
          }
        }

        .service-block__link {
          transition-delay: 0.3s;

          @include mq-max("md") {
            transition-delay: 0.5s;
          }
        }
      }
    }
  }

  .service-divider {
    border: none;
    width: 0;
    height: $border-width;
    background: var(--primary-font-color);

    &.animate {
      @include mq-motion-allow {
        width: 100%;
        transition: 1.2s $cubic-ease;
      }
    }
  }

  .cta-wrapper {
    justify-content: flex-start;
    margin-block-start: $section-title-vertical-spacing;

    @include mq-max("xxl") {
      margin-block-start: $section-title-vertical-spacing-xxl;
    }
  }
}
